<!DOCTYPE html>
<html{% if language is not none %} lang="{{ language }}"{% endif %}>
<head>
    <meta charset="utf-8">
    {%- block htmltitle %}
    <title>{{site_name}} | {{ title|striptags|e }}{{ titlesuffix }}</title>
    {%- endblock %}
    <meta name="description" content="{{site_description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="/static/html5shiv.js"></script>
	<script src="/static/respond.min.js"></script>
	<![endif]-->
    {{- metatags }}
    <script src="https://use.fontawesome.com/f82db3f45d.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ pathto('_static/bootswatch.custom.min.css', 1) }}">
    <link rel="stylesheet" type="text/css" href="{{ pathto('_static/simple-sidebar.css', 1) }}">

    <!-- css_files -->
    {%- for css in css_files %}
        {%- if css|attr("rel") %}
    		<link rel="{{ css.rel }}" href="{{ pathto(css.filename, 1) }}" type="text/css"{% if css.title is not none %} title="{{ css.title }}"{% endif %} />
        {%- else %}
    		<link rel="stylesheet" href="{{ pathto(css, 1) }}" type="text/css" />
        {%- endif %}
    {%- endfor %}

    <!-- extrahead -->
	{%- block extrahead %}
	    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="{{ pathto('_static/favicon.ico', 1) }}">
		<link rel="stylesheet" href="{{ pathto('_static/custom.css', 1) }}">
    	<!-- <link rel="stylesheet" href="{{ pathto('_static/' + style, 1) }}" type="text/css" /> -->
    	<link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
	{% endblock %}

    {%- if favicon %}
    <link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
    {%- endif %}

    {%- if use_opensearch %}
    <link rel="search" type="application/opensearchdescription+xml"
          title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}"
          href="{{ pathto('_static/opensearch.xml', 1) }}"/>
    {%- endif %}

	{%- block linktags %}
	    {%- if hasdoc('about') %}
	    <link rel="author" title="{{ _('About these documents') }}" href="{{ pathto('about') }}" />
	    {%- endif %}
	    {%- if hasdoc('genindex') %}
	    <link rel="index" title="{{ _('Index') }}" href="{{ pathto('genindex') }}" />
	    {%- endif %}
	    {%- if hasdoc('search') %}
	    <link rel="search" title="{{ _('Search') }}" href="{{ pathto('search') }}" />
	    {%- endif %}
	    {%- if hasdoc('copyright') %}
	    <link rel="copyright" title="{{ _('Copyright') }}" href="{{ pathto('copyright') }}" />
	    {%- endif %}
	    {%- if next %}
	    <link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" />
	    {%- endif %}
	    {%- if prev %}
	    <link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" />
	    {%- endif %}
	{%- endblock %}
</head>

{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &#8212; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}

{%- block body_tag %}<body>{% endblock %}
{%- block header %}{% endblock %}
<!--     <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="https://juliendubiel.net/" class="navbar-brand">{{site_name}}</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav"></ul>                
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </div> -->
    <div id="wrapper">
<!--         <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav" style="text-align: right; padding-right: 10px;
                padding-top: 10px">
                <li class="sidebar-brand"><a href="#"><span id="main_icon" class="navbar-icon fa fa-bars icon"></span></a></li>
            </ul>
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Start Bootstrap </a></li>
                <li><a href="#">Home</a> </li>
                <li><a href="#">About</a> </li>
                <li><a href="#">Contact</a> </li>
            </ul>
        </div> -->
        <div id="sidebar-wrapper">
        	<div style="display: flex;">
			    <div id="sidebar-logos">
		            <ul class="deep0 sidebar-nav nav-pills nav-stacked">
<!-- 		                <li>
		                    <span class="fa-stack fa-lg"><img style="width: 90%;" src="{{ pathto('_static/' + favicon, 1) }}"></span>{{site_name}}
		                </li> -->
		                <li><span class="fa-stack fa-lg"><i class="fa fa-search fa-stack-1x "></i></span></li>
		                <li><span class="fa-stack fa-lg"><i class="fa fa-search fa-stack-1x "></i></span></li>
		                <li><span class="fa-stack fa-lg"><i class="fa fa-bars fa-stack-1x "></i></span></li>
		            </ul>
			    </div>
			    <div id="sidebar-entries">
		            <ul class="deep0 sidebar-nav nav-pills nav-stacked" id="menu">
		                <li>{{site_name}}</li>
		                <li><input type="text" style="margin: 8px 0px;" class="form-control" id="inputEmail" placeholder="Search a term"></li>
		                <li class="active">
		                    <a href="#">Chapter 1</a>
		                    <ul class="deep1 nav-pills nav-stacked">
		                        <li><a href="#">link1</a></li>
		                        <li><a href="#">link2</a></li>
		                        <li><a href="#">link3</a></li>
		                    </ul>
		                </li>
		                <li>
		                    <a href="#">Chapter 2</a>
		                    <ul class="deep1 nav-pills nav-stacked">
		                        <li><a href="#">link1</a></li>
		                        <li><a href="#">link2</a></li>
		                        <li><a href="#">link3</a></li>
		                    </ul>
		                </li>
		                <li>
		                    <a href="#">Chapter 3</a>
		                </li>
		                <li>
		                    <a href="#">About</a>
		                </li>
		                <li>
		                    <a href="#">Services</a>
		                </li>
		            </ul>
			    </div>
			</div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
		    <div class="container main-contents">
		        <div class="page-header" id="banner">
		            <h1>{{ title }}</h1>
		        </div>

			    <ul class="breadcrumb">
		      		<li><a href="{{ pathto(master_doc) }}">{{ _('Home') }}</a></li>
			        {% for doc in parents %}
			          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a></li>
			        {% endfor %}
		      		<li class="active">{{ title }}</li>
			    </ul>

			    <div class="bs-docs-section clearfix article" id="article">
	                <span id="menu-toggle" class="navbar-icon fa fa-bars icon"></span>
		            {% block body %}{% endblock %}
		        </div>
		    </div>
		</div>
	</div>

	<script type="text/javascript">
	  var DOCUMENTATION_OPTIONS = {
	    URL_ROOT:    '{{ url_root }}',
	    VERSION:     '{{ release|e }}',
	    COLLAPSE_INDEX: false,
	    FILE_SUFFIX: '{{ '' if no_search_suffix else file_suffix }}',
	    HAS_SOURCE:  {{ has_source|lower }},
	    SOURCELINK_SUFFIX: '{{ sourcelink_suffix }}'
	  };
	</script>

	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ pathto('_static/custom.js', 1) }}"></script>

    <script>
	    $("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        console.log("Toggling...");
	        $("#wrapper").toggleClass("toggled");
		    $('#menu ul').hide();
	    });

		function initMenu() {
			$('#menu ul').hide();
			$('#menu ul').children('.current').parent().show();
			//$('#menu ul:first').show();
			$('#menu li a').click(function() {

				var checkElement = $(this).next();
				if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
					return false;
				}
				if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
					$('#menu ul:visible').slideUp(200);
					checkElement.slideDown(200);
					return false;
				}
			});

		};
		$(document).ready(function() {initMenu();});
    </script>

    <!-- script_files -->
	{%- for scriptfile in script_files %}
		<script type="text/javascript" src="{{ pathto(scriptfile, 1) }}"></script>
	{%- endfor %}

</body>


 